<div class="search-container">
  <h2>Search for your <i>favorite</i> webseries</h2>
  <input
    type="text"
    placeholder="Enter show name..."
    [(ngModel)]="searchQuery"
    (keyup.enter)="getShows(searchQuery)"
    required
  />
  <button (click)="getShows(searchQuery)">Search</button>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</div>

<!-- Loading Spinner -->
<div class="spinner-backdrop" *ngIf="loading">
  <div class="spinner"></div>
</div>

<div *ngIf="shows && shows.length" class="tabs-container">
  <div class="tabs">
    <div class="tab" *ngFor="let show of shows">
      <div class="tab-image-wrapper" (click)="openShow(show)">
        <img
          *ngIf="show.image && show.image.original"
          [src]="show.image.original"
          [alt]="show.name"
          class="tab-image"
        />
        <div class="tab-overlay" (click)="openShow(show); $event.stopPropagation()">
          <div class="tab-title">{{ show.name }}</div>
          <div class="tab-summary" [innerHTML]="show.summary"></div>
        </div>
        <div class="tab-image-title">{{ show.name }}</div>
      </div>
    </div>
  </div>
</div>

<router-outlet />